// COLORS
$pink:#FF0000;
$blue:#22234F;
$white: white;
$bluesky: #EAF0FF;

// FONTS
$roboBlack:"roboBlack";
$roboBold:"robBold";
$roboLight:"roboLight";
$roboMedium:"roboMedium";
$roboRegular:"roboRegular";
$roboThin:"roboThin";

// BTN
$boutton: 0.5rem 2rem;