#bienvenue{
    .bienvenue{
        width: 550;
    }
    margin: auto;
    h2{
        margin: 1rem auto 2rem;
    }
    h2::after{
        content: "";
        display: block;
        width: 20vw;
        height: 0.5vh;
        background-color: $pink;
        margin: 1rem auto;
    
        transition:all 0.6s ease-out;
    }
    h2:hover::after{
        width: 70vw;
        height: 1.5vh;
    }
    .button{
        padding: $boutton;
        background-color: $blue;
        color: $white;
        margin-bottom: 1rem;
    }
    img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}